<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <br/>
    <h2>Welcome to <%= title %></h2>
    <p>Project Narwhal was built with <b>SendGrid</b>, CouchDb, Node.Js, Express, Bouncy, Gitty, Exec-Sync, and Github</p>
    <p>Follow me on GitHub at OGrayCode</p>
    <br/><br/>
    <h1>I'm currently looking around for work :)</h1>
    <h2>Skills: Making Dreams Come True, JavaEE, C#, .Net, Amazon AWS, PhoneGap, Android, Javascript, Node.Js, Python, Oracle, MySql, CouchDb, MongoDb, HTML5, CSS3, to name just a few</h2>
  </body>
</html>